name: CI

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  validate:
    name: Validate and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2

      - name: Set up Python
        uses: actions/setup-python@8039c45ed9a312fba91f3399cd0605ba2ebfe93c
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          pre-commit install-hooks

      - name: Run pre-commit
        run: |
          pre-commit run --all-files --show-diff-on-failure
        env:
          SKIP: no-commit-to-branch
          RUFF_FORMAT: github
          FORCE_COLOR: 1

      # HACS and Hassfest Validation
      - name: HACS Validation
        uses: hacs/action@70694a570839431b5c69ff0eba599a213dc7a43b
        continue-on-error: true
        with:
          category: integration

      - name: Hassfest Validation
        uses: home-assistant/actions/hassfest@55b4a5d23e09d627c2773c2ef82afa98904d65b4

      # Home Assistant Config Check
      - name: Install Home Assistant Core
        run: |
          pip install homeassistant

      - name: Run Config Check
        run: |
          mkdir -p config/custom_components
          cp -r ./custom_components/* config/custom_components/
          echo "default_config:" > config/configuration.yaml
          echo "signal_bot:" >> config/configuration.yaml
          hass --script check_config --config config
