name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4
        id: release
        with:
          token: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
          release-type: simple

      # Only run these steps if a release was created
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        if: ${{ steps.release.outputs.release_created }}

      - name: HACS Validation
        uses: hacs/action@main
        if: ${{ steps.release.outputs.release_created }}
        with:
          category: integration

      - name: Hassfest Validation
        uses: home-assistant/actions/hassfest@master
        if: ${{ steps.release.outputs.release_created }}
